body {
    margin: 0px;
    max-width: 100vw;
    min-height: 100vw;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100vw;
}

header {
    font-family: 'Montserrat', sans-serif;
    background-color: #125784;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 1em;
    font-weight: bold;
    border-right: 2px white solid;
    padding-right: 2em;
    color: white;
}

header nav ul li:last-child {
    border-right: none;
}

header nav img {
    width: 100px;
    height: auto;
    margin: 0.5em;
}

header nav form input {
    width: 100px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.hero {
    background-image: url(../Images/img1.jpg);
    background-color: rgba(0, 0, 0, 0.801);
    width: 100%;
    height: auto;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.hero h1 {
    padding: 6em;
    margin: 0;
    font-size: 2em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.section-2 {
    background-color: #f57f17;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 div {
    background-color: #f57f17;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4em;
    width: 75%;
}

.section-2 div h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    color: white;
    font-weight: lighter;
}

.section-2 div p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.section-2 img {
    width: 240px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.form {
    background-color: #5e35b1;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1em;
}

.form form input:first-child {
    margin-top: 1.5em;
}

.form form input {
    width: 30%;
    height: 1.6em;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.form-radio {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
}

#True {
    margin-top: 0px;
    width: auto;
    height: auto;
    margin-bottom: 1em;
}

#False {
    margin-top: 0px;
    width: auto;
    height: auto;
}

#big-text {
    /* height: 3em; */
    padding-bottom: 2em;
    text-align: left;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    max-width: 100vw;
}

footer img {
    width: 100px;
    height: auto;
}

/* .footer-img {
    width: 30%;
} */

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
}

.footer-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin: 0;
    font-weight: lighter;
}

.footer-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin: 0.2em;
    width: 80%;
    font-weight: lighter;
}

@media (max-width: 675px) {
    header nav form input {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2em;
        margin-right: 2em;
    }

    .hero h1 {
        padding: 2em;
    }

    .section-2 {
        flex-wrap: wrap;
        background-color: white;
    }

    .section-2 div {
        margin: 0;
        width: 100vw;
        padding: 2em;
    }

    .section-2 img {
        width: 100%;
        height: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30% 70%;
    }

    .grid img:last-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .form form input {
        width: 70%;
    }

    .form-radio {
        width: 70%;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    footer img{
        margin: 0px;
        margin-bottom: 1em;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        margin:0px;
    }
    
    .footer-content p{
        text-align: center;
    }

}
